.sec1{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: small;
}
.sec2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
.sec2c {
    list-style: none;
    display: flex;
    gap: 20px;
}
.sec2c .icon div{
    padding-right: 30px;
}
.sec3 ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-bottom: 10px;
}
.sec4{
    padding-left: 30px;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
.sec5{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}
.sec6{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0;
    position: sticky;
    /* z-index: 1000; */
}
.sec6b{
    display:flex;
    gap: 15px;
    margin-left: -520px;
}
.sec6b1{
    background-color: white;
    border: 1px solid rgb(219, 214, 214);
    padding: 5px;
}
.sec6c{
    display: flex;
    gap: 10px;
    padding-right: 30px;
}
.sec6c1{
    background-color: white;
    border: 1px solid rgb(219, 214, 214);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}
.sec6c2{
    color: rgb(98, 102, 105);
}
.sec7{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.sec7a{
    color: rgb(98, 102, 105);
    font-size: 23px;
}
.sec8{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,auto);
    padding-left: 40px;
}
.sec8a{
    color: orangered;
    font-size: 12px;
    padding-bottom: 5px;
}
.sec8b{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
}
.sec8c{
    color: rgb(98, 102, 105);
    padding-bottom: 5px;
}
.sec8d{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}
.sec9{
    padding-left: 10px;
}
.sec9a1{
    padding-left: 10px;
    margin-top: -15px;
    font-size: 17px;
    color: rgb(75, 74, 74);
}
.sec10b{
    display: flex;
    justify-content: space-between;
}
.sec10c{
    display: flex;
    justify-content: space-between;
    color: rgb(75, 74, 74);
    padding-left: 10px;
    padding-right: 10PX;
    padding-top: 5PX;
    padding-bottom: 5PX;
}
.sec10d{
    padding-left: 10px;
    padding-right: 10PX;
    padding-top: 5PX;
    padding-bottom: 10PX;
    font-size: 15px;
    font-weight: 600;
}
.sec11{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.sec11a{
    display: flex;
    gap: 20px;
}
.sec11a1 ul{
    list-style: none;
    text-decoration: none;
}
.sec11a2 ul{
    list-style: none;
    text-decoration: none;
}
.sec11a3 ul{
    list-style: none;
    text-decoration: none;
}
.sec11a4 ul{
    list-style: none;
    text-decoration: none;
}
.sec11a1 ul li{
    font-size: 15px;
    padding-bottom: 10px;
}
.sec11a2 ul li{
    font-size: 15px;
    padding-bottom: 10px;
}
.sec11a3 ul li{
    font-size: 15px;
    padding-bottom: 10px;
}
.sec11a4 ul li{
    font-size: 15px;
    padding-bottom: 10px;
}
.sec11 h4{
    padding-left: 40px;
}
.sec11b1{
    font-size: 20px;
    font-weight: 700;
}
.follow{
    font-size: 20px;
    font-weight: 700;
}
.sec11b2{
    display: flex;
    font-size: 20px;
    gap: 10px;
}
.sec11b3{
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
}
.sec11b4{
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
}
.sec12{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    margin-top: -5px;
}
.sec12b{
    font-size: 15px;
    padding-right: 10px;
}
.hr{
    margin-top: -5px;
    
}

@media screen and (max-width:700px) {
    .sec1{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec2{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec3{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec4{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec5{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec6{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec7{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec8{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
    }
    .sec9{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec10{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec11{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sec12{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
}